body {
    background-color: #7CB5EB; 
    font-family: 'Rufina', serif;
}

a {
    text-decoration: none;
    color: #B1AB93;
    border-bottom: none;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear; 
    transition: color .2s linear;
}

a:hover {
    color: #C3DAEC;
    border-bottom: dashed 1px #ABAD97;
}

#mainContent{
    background-color: #FAF0E6;
    min-height: 340px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: thin solid #ABAD97;
    overflow: auto;
    padding: 10px;
    
    -moz-box-shadow: 3px 3px 4px #444;
    -webkit-box-shadow: 3px 3px 4px #444;
    box-shadow: 3px 3px 4px #444;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
}

#logo a:hover {
    border-bottom: none;
}

#title {
    text-align: right;
}

#title #name {
    font-size: 32px;
    font-weight: bold;
}

#title #name a {
    color: #000000;
    text-decoration: none;
    border-bottom: none;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear; 
    transition: color .2s linear;
}

#title #name a:hover {
    color: #C3DAEC;
}

#title #slogan {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.1px;
    font-style: italic;
}

#links {
    text-align: center;
    padding-top: 10px;
    font: 36px;
}

#links li {
    margin-bottom: 8px;
}

#links #image {
    margin-top: 10px;
}

#links #image img:hover {
    border-bottom: dashed 1px #ABAD97;
}

#links #image a:hover {
    border-bottom: none;
}

#info {
    padding-top: 10px;}


#info h1 {
    font-size: 16px;
    font-weight: bold;
    border-bottom: thin solid #ABAD97;
}

#info a{
    color: #000000;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear; 
    transition: color .2s linear;
}

#info a:hover {
    color: #C3DAEC;
}

#info #image {
    margin-top: 6px;
    float: left;
    width: 32px;
}

#info #image img:hover {
    border-bottom: dashed 1px #ABAD97;
}

#info #image a:hover {
    border-bottom: none;
}

#info #text {
    margin-top: 6px;
    float: right;
    width: 258px;
}

#info #readmore {
    float: left;
    margin-top: 6px;
}

#content {
    padding-top: 10px;
}

#contentArticle {
    width: 700px;
    overflow: auto;
    margin-bottom: 20px;
}

#contentArticle #headerLeft {
    font-size: 16px;
    font-weight: bold;
    border-bottom: thin solid #ABAD97;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

#contentArticle #headerRight {
    font-size: 16px;
    font-weight: bold;
    border-bottom: thin solid #ABAD97;
    margin-bottom: 10px;
    text-align: right;
    width: 100%;
}

#contentArticle #imageLeft {
    float: left;
    width: 148px;
    height: 148px;
    width: 148px;
    border: thin solid #000000;
}

#contentArticle #textLeft {
    float: right;
    width: 532px;
    text-align: left;
}

#contentArticle #imageRight {
    float: right;
    width: 148px;
    height: 148px;
    width: 148px;
    border: thin solid #000000;
}

#contentArticle #textRight {
    float: left;
    width: 532px;
    text-align: right;
}

#footer {
    color: #FAF0E6;
    text-align: center;
    margin-bottom: 20px;
}

#footer a{
    font-style: italic;
    text-decoration: underline;
    color: #FAF0E6;
    border-bottom: none;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear; 
    transition: color .2s linear;
}

#footer a:hover {
    color: #C3DAEC;
}

#contactForm {
    text-align: left;
    width: 65%;
    float: left;
}

#contact #phone {
    width: 100%;
}

#contactForm #required {
    font-weight:bold;  
    color:#F00;
}

#contactForm #submitButton {
    width: 100px;
    background-color: #A2D1E9;
    color: #FFF;
    border: none;
    display: block;
    float: right;
    -moz-border-radius: 8px;
}

#contactForm #submitButton:hover {
    cursor: pointer;
    border: 2px solid #ABAD97;
}

#contactForm p {
    float: left;
    font-style: italic;
}

#contactForm label {
    width: 100%;
}

#contactForm input {
    height: 24px;
}

#contactForm textArea {
    height: 200px;
}

#contactForm input,   
#contactForm select,   
#contactForm textarea {  
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 3px;
    margin-bottom: 6px;
    border: 2px solid #ABAD97; 
    background-color: #FFFFFF;
    margin-bottom:20px;  
    padding:4px;
    
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    -o-transition: background-color .2s linear; 
    transition: background-color .2s linear;
    
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -khtml-border-radius: 2px;
}

#contactForm input:focus,   
#contactForm select:focus,   
#contactForm textarea:focus {  
    background-color: #E8EEF1;
}

#gallery img {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: #A0A0A0 medium solid;
}

#prev {
    margin: 0px;
    border: none;
    width: 31px;
    float: left;
}

#next {
    margin: 0px;
    border: none;
    width: 31px;
    float: right;
}